.foter{
    background-color: #2C3E50 !important;
    height: 200px;
    display: flex;
    align-items: center;
}
.span{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* border: 1px solid white; */
    position: relative;
    margin: 20px;

}
.icon{
    margin-top: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}
