.lay{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1ABC9C;
    height: 100vh;
    width: 100%;
}
.shape{
    width: 250px;
    background-color: white;
    height: 5px;
    border: 25%;
    margin: 20px;
}